<ion-header>
  <ion-toolbar>
    <ion-title  class="title-card">Detalhes da {{ registro.type === 'pesca' ? 'pesca' : ' venda' }} </ion-title>
    <ion-buttons slot="end">
      <ion-button  class="title-card" (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="registro">    
    <div *ngIf="registro.user">
      <ion-item>
        <ion-avatar slot="start">
          <img 
          [src]="registro.user?.url_perfil ? registro.user.url_perfil : 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'"
          alt="{{ registro.user.name }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ registro.user.name }}</h2>
          <h3>{{ registro.user.cpf }}</h3>
        </ion-label>
      </ion-item>
    </div>
    
    <div *ngIf="registro.type === 'pesca'">
      <p><strong>Área:</strong> {{ registro.localizacao.descricao_amigavel }}</p>
      <p><strong>Pescado:</strong> {{ registro.pescado }}</p>
      <p><strong>Data e Horário:</strong> {{ formatDateTime(registro.data_com_hora) }}</p>
      <p><strong>Quantidade:</strong> {{ registro.quantidade }}</p>
      <p><strong>Código:</strong> {{ registro.codigo }}</p>
    </div>
    
    <div *ngIf="registro.type === 'venda'">
      <p><strong>Ponto de Venda:</strong>{{ registro.localizacao.descricao_amigavel }}</p>
      <p><strong>Quantidade:</strong> {{ registro.quantidade }}</p>
      <p><strong>Valor:</strong> R$ {{ registro.valor }}</p>
    </div>
  </div>
</ion-content>
