<ion-content scroll-y="false">
  <div class="login-container">
    <ion-card>
      <ion-card-header class="header-card">
        <img class="logo" src="./../../../assets/logo.svg" alt="">
        <ion-card-title>Bem-vindo ao App</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input placeholder="Digite seu nome" formControlName="nome" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              placeholder="Digite seu CPF"
              formControlName="cpf"
              maxlength="14"
              [value]="formattedCpf"
              (ionInput)="onCpfInput($event)"
              type="text"
              required
              (ionBlur)="onCpfBlur()"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="CAP" formControlName="cap" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contato" formControlName="contato" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-select
            formControlName="tipoUsuario"
            placeholder="Tipo de Usuário">
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="colaborador">Colaborador</ion-select-option>
          </ion-select>
          </ion-item>
          <ion-button type="submit" class="btn-primario" [disabled]="loginForm.invalid">Cadastrar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <!-- Link "Esqueceu sua senha?" fora do card -->
    <div class="forgot-password">
      <a href="/login">Acessar sua conta</a>
    </div>
  </div>
</ion-content>
