ion-content{
    background-color: var(--fundo-interno);
}

.card-input {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
  }
  .selecao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  ion-select {
    width: 50%;
  }