<ion-content scroll-y="true">
    <app-header title="Pesca"></app-header>


    <ng-template #notaData>
        <p>
            Nenhum resultado encontrado.
        </p>
    </ng-template>
    <ion-button style="margin-top: 80px;" (click)="openModal()" class="btn-primario">Cadastrar Pesca</ion-button>

    <ng-container *ngIf="paginatedPescas.length > 0; else notaData">
        <ion-item *ngFor="let registro of paginatedPescas" (click)="openDetailModal(registro)">
            <ion-label>
                <h2>Pescado - {{ registro.pescado }}</h2>
                <p>Local: {{ registro.localizacao.descricao_amigavel }}</p>
                <p>Quantidade: {{ registro.quantidade }}</p>
            </ion-label>
        </ion-item>
    </ng-container>

    <ion-toolbar *ngIf="registros.length > 0">
        <ion-buttons slot="start">
            <ion-button (click)="previousPagePesca()" [disabled]="currentPagePesca === 1">Anterior</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="nextPagePesca()" [disabled]="currentPagePesca >= totalPagesPesca">Próximo</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-content>

<app-menu></app-menu>