<ion-content scroll-y="true">
    <app-header title="Cadastrar Pesca"></app-header>

    <div class="container-principal">
        <ion-card class="card-cadastro">
            <ion-card-header class="card-header-cadastro">
                <ion-card-title class="title-card">Registro de Pesca</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <form [formGroup]="cadastrarPescaForm" class="content-card" (ngSubmit)="onSubmit()">
                    <div>
                        <ion-input class="card-input" placeholder="Local" formControlName="local" type="text" required></ion-input>
                    </div>

                    <div style="align-items: center;">
                        <ion-label>Data e Horário</ion-label>
                        <ion-datetime-button style="margin-top: 26px; margin-bottom: 10px;"
                            datetime="datetime"></ion-datetime-button>
                    </div>

                        <ion-input class="card-input" placeholder="Codigo" formControlName="codigo" type="text" required></ion-input>
                   
                    <ion-button class="btn-primario posicao-btn-card " [disabled]="cadastrarPescaForm.invalid" type="submit">Enviar</ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-modal [keepContentsMounted]="true">
        <ng-template>
            <ion-datetime id="datetime" (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
    </ion-modal>
</ion-content>

<app-menu></app-menu>