.custom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 235, 245);

  height: 75px;
  border-radius: 20px 20px 0px 0px;
  z-index: 999;

  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.custom-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

.custom-nav li {
  flex: 1;
}

.custom-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ADBCCE;
  padding: 0 10px;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  height: 100%;
}

.custom-nav .nav-icon {
  margin-right: 8px;
  font-size: 24px;
}



.custom-nav .nav-item.active {
  color: #4668FE;
}

.logout {
  display: none;
}

.logo{
  display: none;
}

@media (min-width: 756px) {
  .custom-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: rgb(230, 235, 245);
    border-radius: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    // padding-top: 150px;
  }

  .custom-nav .nav-item {
    transition: transform 0.3s ease, padding 0.3s ease, background-color 0.3s ease;
  }

  .logo{
    display: block;
    width: 150px;
    height: 150px;
  }
  .custom-nav .nav-item:hover {
    scale: 1.1;
    padding: 5px;
    background-color: lightgray;
    border-radius: 10px;
  }

  .custom-nav .nav-item {
    display: flex;
    width: 175px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .custom-nav ul {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    gap: 15px;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .logout {
    display: block;
    cursor: pointer;
  }
}