<nav class="custom-nav">
  <ul>
    <!-- Lista de menu para colaborador -->
    <ng-container *ngIf="tipoMenu === 'colaborador'">
      <!-- <li>
        <a routerLink="/colaborador/inicio" class="nav-item" [ngClass]="{'active': isActive('/colaborador/inicio')}">
          <ion-icon name="home" class="nav-icon"></ion-icon> Inicio
        </a>
      </li> -->
      <li>
        <a routerLink="/colaborador/cadastrar-pesca" class="nav-item"
          [ngClass]="{'active': isActive('/colaborador/cadastrar-pesca')}">
          <ion-icon name="fish" class="nav-icon"></ion-icon> Pesca
        </a>
      </li>
      <li>
        <a routerLink="/colaborador/cadastrar-venda" class="nav-item"
          [ngClass]="{'active': isActive('/colaborador/cadastrar-venda')}">
          <ion-icon name="wallet" class="nav-icon"></ion-icon> Venda
        </a>
      </li>
      <li>
        <a routerLink="/colaborador/meu-perfil" class="nav-item"
          [ngClass]="{'active': isActive('/colaborador/meu-perfil')}">
          <ion-icon name="person-circle-outline" class="nav-icon"></ion-icon> Perfil
        </a>
      </li>
    </ng-container>

    <!-- Lista de menu para administrador -->
    <ng-container *ngIf="tipoMenu === 'admin'">
      <li>
        <a routerLink="/admin/inicio" class="nav-item" [ngClass]="{'active': isActive('/admin/inicio')}">
          <ion-icon name="home" class="nav-icon"></ion-icon> Inicio
        </a>
      </li>
      <li>
        <a routerLink="/admin/financeiro" class="nav-item" [ngClass]="{'active': isActive('/admin/financeiro')}">
          <ion-icon name="cash-outline" class="nav-icon"></ion-icon> Financeiro
        </a>
      </li>
      <li>
        <a routerLink="/admin/configuracoes" class="nav-item" [ngClass]="{'active': isActive('/admin/configuracoes')}">
          <ion-icon name="settings" class="nav-icon"></ion-icon> Configurações
        </a>
      </li>
      <li>
        <a routerLink="/admin/meu-perfil" class="nav-item" [ngClass]="{'active': isActive('/admin/meu-perfil')}">
          <ion-icon name="person-circle-outline" class="nav-icon"></ion-icon> Perfil
        </a>
      </li>
    </ng-container>
  </ul>


  <ul class="logout">
    <li>
      <a (click)="logout()" class="nav-item">
        <ion-icon name="exit" class="nav-icon"></ion-icon> sair
      </a>
    </li>
  </ul>
</nav>