/* Garantir que o ion-content ocupe a altura total disponível */
ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  --padding-bottom: 75px;
  --padding-top: 70px;
  --background: background-color: var(--fundo-interno);
}

/* Ajustar a altura e layout do container principal */
.container-principal {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.btn-primario {
  margin-top: 20px;
}

.container-principal {
  height: 100%;
  background-color: var(--fundo-interno);
  overflow-y: auto;
}

.label-card-cadastro {
  font-weight: bold;
  margin-top: 5px;
}

.card-input{
  cursor: pointer;
}
.profile-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.profile-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}

.logo {
  width: 150px;
  height: 150px;
}

.edit-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  text-align: center;
  opacity: 50%;
  
}

.remove-image {
  position: absolute;
  top: 0;
  right: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  color: red;
}

.edit-icon {
  font-size: 20px;
  color: #666;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  right: 20px;
  margin-top: -30px;
}


.modal-content {
  padding: 20px;
}

.ion-modal-content {

  --padding-bottom: 0px;
  --padding-top: 0px;
}

ion-button {
  margin-top: 10px;
}

