<ion-content>
    <app-header title="Meus Registros"></app-header>
    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="pesca">
            Pescas
        </ion-segment-button>
        <ion-segment-button value="venda">
            Vendas
        </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="segment === 'pesca'">
        <ion-item *ngFor="let registro of paginatedPescas" (click)="openDetailModal(registro)">
            <ion-label>
                <h2>Pescado - {{ registro.pescado }}</h2>
                <p>Local: {{ registro.localizacao.descricao_amigavel }}</p>
                <p>Quantidade: {{ registro.quantidade }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="segment === 'venda'">
        <ion-item *ngFor="let registro of paginatedVendas" (click)="openDetailModal(registro)">
            <ion-label>
                <h2>Venda</h2>
                <p>Data: {{ formatDateTime(registro.dateTime) }}</p>
                <p>Local: {{ registro.localizacao.descricao_amigavel }}</p>
                <p>Quantidade: {{ registro.quantidade }}</p>
                <p>Valor: {{ registro.valor }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-toolbar *ngIf="registros.length > 0">
        <ion-buttons slot="start" *ngIf="segment === 'pesca'">
            <ion-button (click)="previousPagePesca()" [disabled]="currentPagePesca === 1">Anterior</ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="segment === 'pesca'">
            <ion-button (click)="nextPagePesca()" [disabled]="currentPagePesca >= totalPagesPesca">Próximo</ion-button>
        </ion-buttons>
        
        <ion-buttons slot="start" *ngIf="segment === 'venda'">
            <ion-button (click)="previousPageVenda()" [disabled]="currentPageVenda === 1">Anterior</ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="segment === 'venda'">
            <ion-button (click)="nextPageVenda()" [disabled]="currentPageVenda >= totalPagesVenda">Próximo</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-content>
<app-menu></app-menu>
