<!-- src/app/minhas-vendas/minhas-vendas.component.html -->
<ion-content>
    <app-header title="Minhas Vendas"></app-header>
    <ion-card class="card-cadastro" *ngFor="let venda of vendas">
        <ion-card-header class="card-header-cadastro">
            <ion-card-title class="title-card">Registro de Venda</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div style="margin-top: 10px;">
                <ion-label>Data e Horário:</ion-label>
                <p>{{ venda.dateTime }}</p>
            </div>
            <div>
                <ion-label>Área:</ion-label>
                <p>{{ venda.area }}</p>
            </div>
            <div>
                <ion-label>Código:</ion-label>
                <p>{{ venda.code }}</p>
            </div>
            <ion-button class="btn-primario posicao-btn-card" type="submit">Ver mais</ion-button>

            <br>
        </ion-card-content>
    </ion-card>
</ion-content>
<app-menu></app-menu>