<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Pesca</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="teste">
  <form [formGroup]="cadastrarPescaForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Local</ion-label>
      <ion-select formControlName="local">
        <ion-select-option *ngFor="let local of localizacoes" [value]="local.id">{{ local.descricao_amigavel
          }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Data e Horário</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" (ionChange)="onDateChange($event)" displayFormat="MMM DD, YYYY HH:mm"
            pickerFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" formControlName="quantidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pescado</ion-label>
      <ion-input formControlName="pescado"></ion-input>
    </ion-item>
    <ion-button type="submit" class="btn-primario" [disabled]="cadastrarPescaForm.invalid || isLoading">
      <ng-container *ngIf="isLoading; else Loading">
        <ion-spinner size="small"></ion-spinner>
      </ng-container>
      <ng-template #Loading>Enviar</ng-template>
    </ion-button>
  </form>
</ion-content>