<ion-content>

  <app-header title="Meus Registros"></app-header>

  <ion-button style="margin-top: 80px;" (click)="openModal()" class="btn-primario">Cadastrar Venda</ion-button>

  <ng-template #notaData>
    <p>
      Nenhum resultado encontrado.
    </p>
  </ng-template>

  <ion-list>
    <ng-container *ngIf="paginatedVendas.length > 0 ; else notaData ">

      <ion-item *ngFor="let registro of paginatedVendas" (click)="openDetailModal(registro)">
        <ion-label>
          <h2>Venda</h2>
          <p>Data: {{ formatDateTime(registro.dateTime) }}</p>
          <p>Local: {{ registro.localizacao.descricao_amigavel }}</p>
          <p>Quantidade: {{ registro.quantidade }}</p>
          <p>Valor: {{ registro.valor }}</p>
        </ion-label>
      </ion-item>
    </ng-container>

  </ion-list>


  <ion-toolbar *ngIf="registros.length > 0">

    <ion-buttons slot="start">
      <ion-button (click)="previousPageVenda()" [disabled]="currentPageVenda === 1">Anterior</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextPageVenda()" [disabled]="currentPageVenda >= totalPagesVenda">Próximo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>

<app-menu></app-menu>