<ion-content>

  <app-header title="Meus Registros"></app-header>

  <!-- <div class="button-container" style="margin-top: 80px;">
    <ion-button class="btn-primario" (click)="openModal()">Cadastrar Venda</ion-button>
  </div> -->

  <ion-header class="margin-titulo-header">
    <ion-toolbar>
        <ion-title class="title-card" >Minhas vendas</ion-title>
        <ion-buttons slot="end">
            <div (click)='openModal()' class="container-novo">
                Novo <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

  <ng-template #notaData>
    <p>
      Nenhum resultado encontrado.
    </p>
  </ng-template>

  <ion-list>
    <ng-container *ngIf="paginatedVendas.length > 0 ; else notaData ">
      <ion-item *ngFor="let registro of paginatedVendas" (click)="openDetailModal(registro)">
        <ion-label>
          <h2>Local: {{ registro.localizacao.descricao_amigavel }}</h2>
          <p>Data: {{ formatDateTime(registro.dateTime) }}</p>
          <p>Quantidade(Kg): {{ registro.quantidade }}</p>
          <p>Valor: {{ registro.valor }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-toolbar *ngIf="registros.length > 0" style="margin-bottom: 80px;">
    <ion-buttons slot="start">
      <ion-button (click)="previousPageVenda()" [disabled]="currentPageVenda === 1">Anterior</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextPageVenda()" [disabled]="currentPageVenda >= totalPagesVenda">Próximo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>

<app-menu></app-menu>