<!-- login.component.html -->
<ion-content scroll-y="false">
  <div class="login-container">
    <ion-card>
      <ion-card-header class="header-card">
        <img class="logo" src="./../../../assets/logoPrincipal.png" alt="">

        <ion-card-title>Atualize sua senha</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          {{ dataUser?.name }}
        </ion-item>
        <form [formGroup]="novaSenha" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input placeholder="Digite sua senha" formControlName="password" maxlength="14" type="password"
              required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Confirme sua nova senha" (ionBlur)="erroMsg()" formControlName="confirmPassword"
              type="password" required>
            </ion-input>
          </ion-item>

          <ion-text class="error" color="danger"
            *ngIf="novaSenha.get('password')?.hasError('minlength') && novaSenha.get('password')?.touched">
            <p>O comprimento mínimo é 8 caracteres.</p>
          </ion-text>

          <div class="button-container">
            <ion-button type="submit" class="btn-primario"
              [disabled]="!passwordsMatch || isLoading || novaSenha.invalid" (click)="onSubmit()">
              <ng-container *ngIf="isLoading; else loginText">
                <ion-spinner size="small"></ion-spinner>
              </ng-container>
              <ng-template #loginText>Atualizar</ng-template>
            </ion-button>
          </div>

          <div class="button-container">
            <ion-button href="/login" type="button" class="btn-secundario">
              Voltar
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
    <!-- Link "Esqueceu sua senha?" fora do card -->

  </div>
</ion-content>