<!-- login.component.html -->
<ion-content  *ngIf="verPaginaLogin" scroll-y="false">
  <div class="login-container">
    <!-- <ion-icon name="information-circle"></ion-icon> -->
    <p class="version" >V - {{versao}}</p>

    <ion-card>
      <ion-card-header class="header-card">
        <div class="div-logo">
          <img class="logo" src="./../../../assets/logo_modified_corrected-removebg-preview.png" alt="">
          <img class="" src="./../../../assets/coopdelta.png" alt="">
        </div>
        <ion-card-title>Bem-vindo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input placeholder="Digite seu CPF" formControlName="cpf" maxlength="14" [value]="formattedCpf"
              (ionInput)="onCpfInput($event)" type="text" required></ion-input>
          </ion-item>

          <ion-text class="error" color="danger"
            *ngIf="loginForm.get('cpf')?.hasError('required') && loginForm.get('cpf')?.touched">
            <p>CPF é obrigatório.</p>
          </ion-text>
          <ion-text class="error" color="danger"
            *ngIf="loginForm.get('cpf')?.hasError('minlength') && loginForm.get('cpf')?.touched">
            <p>CPF deve ter 11 dígitos.</p>
          </ion-text>
          <ion-text class="error" color="danger"
            *ngIf="loginForm.get('cpf')?.hasError('invalidCpf') && loginForm.get('cpf')?.touched">
            <p>CPF inválido.</p>
          </ion-text>

          <ion-item>
            <ion-input placeholder="Digite sua senha" formControlName="password" type="password" required></ion-input>
          </ion-item>


          <div class="button-container">

            <ion-button type="submit" class="btn-primario" [disabled]="loginForm.invalid || isLoading"
              (click)="onSubmit()">
              <ng-container *ngIf="isLoading; else loginText">
                <ion-spinner size="small"></ion-spinner>
              </ng-container>
              <ng-template #loginText>Login</ng-template>
            </ion-button>
          </div>

          <div class="button-container">

            <ion-button type="button" class="btn-secundario" (click)="onRegister()">Registrar</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <!-- Link "Esqueceu sua senha?" fora do card -->
    <div class="forgot-password">
      <a href="/sobre-nos">Sobre nós?</a>
    </div>
  </div>
</ion-content>