.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  padding: 20px;
  background: var(--background-principal); 
}

ion-card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  --background: #fff;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primario {
  margin-top: 25px;
}

ion-card-title {
  color: var(--fonte-titulo); 
}

.forgot-password {
  text-align: center;
  position: absolute; 
  bottom: 20px; 
  width: 100%; 
}

.forgot-password a {
  color: var(--fonte-titulo);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline; 
}

.logo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

@media (max-height: 700px) {
  .header-card{
    gap: 0px;
  }

}

.error{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.version{
  position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: small;
    font-weight: lighter;
    // text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: gray;
    opacity: 0.9;
    pointer-events: none;
}
