#install-banner {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
  
  #install-banner ion-button {
    background-color: #ffffff;
    color: #007bff;
  }
  