<ion-content>

  <ion-row>
    <ion-col size="12" size-md="8" size-lg="9" offset-md="4" offset-lg="3" offset-xl="2">
      <app-header title="Meus Registros"></app-header>
      <ion-loading
      [isOpen]="isLoading"
      message="Carregando..."
    ></ion-loading>

      <ion-segment class="segmentacao" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="pesca">
          Pesca
        </ion-segment-button>
        <ion-segment-button value="venda">
          Venda
        </ion-segment-button>
      </ion-segment>


      <ng-template #notaData>
        <p>
          Nenhum resultado encontrado.
        </p>
      </ng-template>
      <ion-button expand="full" (click)="openFiltroModal()">Gerar Relatório</ion-button>


      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchTermChange()"
        placeholder="Buscar por nome..."></ion-searchbar>

      <ion-select [(ngModel)]="selectedLocalizacao" (ionChange)="filterRecords()" placeholder="Filtrar por localização">
        <ion-select-option disabled>Selecione uma localização</ion-select-option>
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let localizacao of localizacoes" [value]="localizacao.id">{{
          localizacao.descricao_amigavel }}</ion-select-option>
      </ion-select>

      <div *ngIf="segment === 'pesca'">

       

        <ion-list *ngIf="registrosPesca.length>0; else notaData">
          <ion-item *ngFor="let registro of registrosPesca" (click)="openModal(registro)">
            <ion-avatar slot="start">
              <img 
              [src]="registro.user?.url_perfil ? registro.user.url_perfil : 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'"

              alt="{{ registro.user.name }}">
            </ion-avatar>
            <ion-label>
              <h2>{{ registro.user.name }}</h2>
              <h3>Pescado: {{ registro.pescado }}</h3>
              <p>Quantidade: {{ registro.quantidade }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- <ion-item *ngIf="registrosPesca.length>0" >
          <ion-label>Itens por página</ion-label>
          <ion-select [(ngModel)]="itemsPerPage" (ionChange)="filterRecords()" [value]="itemsPerPage">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option [value]="maxItensPagePesca">Tudo</ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-toolbar *ngIf="registrosPesca.length>0">
          <ion-buttons slot="start">
            <ion-button (click)="previousPagePesca()" [disabled]="currentPagePesca === 1">Anterior</ion-button>
          </ion-buttons>
          <p style="text-align: center;">Pag. {{ currentPagePesca }} de {{ totalPagesPesca }}</p>
          <ion-buttons slot="end">
            <ion-button (click)="nextPagePesca()" [disabled]="currentPagePesca === totalPagesPesca">Próximo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>

      <div *ngIf="segment === 'venda'">
        <ion-list *ngIf="registrosVenda.length>0; else notaData">
          <ion-item *ngFor="let registro of registrosVenda" (click)="openModal(registro)">
            <ion-avatar slot="start">
              <img [src]="registro.user.url_perfil" alt="{{ registro.user.name }}">
            </ion-avatar>
            <ion-label>
              <h2>{{ registro.user.name }}</h2>
              <h3>Quantidade: {{ registro.quantidade }}</h3>
              <p>Valor: R$ {{ registro.valor }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- <ion-item>
          <ion-label>Itens por página</ion-label>
          <ion-select [(ngModel)]="itemsPerPageVenda" (ionChange)="filterRecords()" [value]="itemsPerPageVenda">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option [value]="maxItensPageVenda">Tudo</ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-toolbar *ngIf="registrosVenda.length>0">
          <ion-buttons slot="start">
            <ion-button (click)="previousPageVenda()" [disabled]="currentPageVenda === 1">Anterior</ion-button>
          </ion-buttons>
          <p style="text-align: center;">Pag. {{ currentPageVenda }} de {{ totalPagesVenda }}</p>
          <ion-buttons slot="end">
            <ion-button (click)="nextPageVenda()" [disabled]="currentPageVenda === totalPagesVenda">Próximo</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>


    </ion-col>
  </ion-row>

  <app-menu></app-menu>
</ion-content>