<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar à Tela Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Modal Content -->
  <div class="modal-content">
    <ion-button class="close" (click)="onCancelClick()">×</ion-button> <!-- Fechar -->
    <p><strong>Deseja adicionar este app à sua tela inicial?</strong></p>
    <ion-button (click)="onInstallClick()">Sim, Adicionar!</ion-button>
    <ion-button class="cancel" (click)="onCancelClick()">Cancelar</ion-button>
  </div>
</ion-content>
