<div class="map-container">
  <div id="map"></div>
  <div class="pac-card">
    <div id="title">Pesquisa por Autocompletar</div>
    <div class="pac-controls">
      <input type="radio" id="changetype-all" name="type" checked />
      <label for="changetype-all">Todos</label>

      <input type="radio" id="changetype-establishment" name="type" />
      <label for="changetype-establishment">Estabelecimento</label>

      <input type="radio" id="changetype-address" name="type" />
      <label for="changetype-address">Endereço</label>

      <input type="radio" id="changetype-cities" name="type" />
      <label for="changetype-cities">Cidades</label>

      <input type="radio" id="changetype-regions" name="type" />
      <label for="changetype-regions">Regiões</label>
    </div>

    <br />

    <div class="pac-controls">
      <input type="checkbox" id="use-strict-bounds" />
      <label for="use-strict-bounds">Restringir à área visível do mapa</label>
    </div>

    <input id="place-picker" type="text" placeholder="Pesquisar lugares" />
  </div>
</div>
