  
  ion-content {
    height: 100vh;
    padding: 20px;
    background: var(--background-principal);
  }
  
  ion-content {
    overflow: hidden;
    --padding-bottom: 80px;
    --padding-top: 80px;
    --background: var(--fundo-interno);
  }


  .container-principal{
    margin-top: 10px;
    height: 100%;
    background-color: var(--fundo-interno);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  // .card-row:active {
  //   background-color: #f0f0f0; 
  // }
  // .card-relatorios:active {
  //   background-color: #f0f0f0; 
  // }
  
  
  .download-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
  }

  .container-plus{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  