<app-header title="Controle Financeiro"></app-header>

<ion-content>
    <ion-row >
        <ion-col size="12" size-md="8"  size-lg="9"  offset-md="4" offset-lg="3" offset-xl="2" >

    <div class="container-principal">

        <div style="width: 100%;">
            <ion-card class="card-relatorios">
                <ion-card-header>
                    <ion-card-title class="title-card container-plus">Financeiro
                        <div (click)='openCadastroFinancerio()' class="container-novo">
                            Novo <ion-icon name="add-circle-outline"></ion-icon>

                        </div>
                    </ion-card-title>

                </ion-card-header>
                <ion-card-content>
                    <ion-item (click)="toggleFiltro()" lines="none">
                        <ion-label>Filtros</ion-label>
                        <ion-icon slot="end" [name]="filtroExpansao ? 'chevron-up' : 'chevron-down'"></ion-icon>
                    </ion-item>
                    <div *ngIf="filtroExpansao">
                        <ion-item lines="none">
                            <ion-label>Tipo de busca:</ion-label>
                            <ion-select [(ngModel)]="filtroCondicao" interface="popover">
                                <ion-select-option value="todos">Todos</ion-select-option>
                                <ion-select-option value="maior">Maior que</ion-select-option>
                                <ion-select-option value="menor">Menor que</ion-select-option>
                                <ion-select-option value="igual">Igual a</ion-select-option>
                                <ion-select-option value="entre">Entre</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <div *ngIf="filtroCondicao !== 'entre'">
                            <ion-item>
                                <ion-label>Data</ion-label>
                                <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="filtroData"></ion-datetime>
                            </ion-item>
                        </div>

                        <div *ngIf="filtroCondicao === 'entre'">
                            <ion-item>
                                <ion-label>Data Inicial</ion-label>
                                <ion-datetime displayFormat="MMM DD, YYYY"
                                    [(ngModel)]="filtroDataInicial"></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <ion-label>Data Final</ion-label>
                                <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="filtroDataFinal"></ion-datetime>
                            </ion-item>
                        </div>

                        <ion-button expand="full" class="btn-primario"
                            (click)="filtrarRegistros(); toggleFiltro();">Filtrar</ion-button>

                    </div>

                    <div class="button-container">
                        <ion-button (click)="imprimirAllPdf()" class="btn-primario">Imprimir tudo </ion-button>
                    </div>
                    <p>Click para poder imprimir todos os registro filtrados. </p>

                </ion-card-content>
            </ion-card>

            <ng-container *ngIf="registrosFinanceirosFiltrados.length > 0 ; else notaData ">

                <ion-card class="card-relatorios" *ngFor="let registro of registrosFinanceirosFiltrados">
                    <ion-card-content>
                        <div class="card-row">
                            <p>Dt Inicial: {{ registro.data_inicial }}</p>
                            <img (click)="baixarPdf(registro.id)" src="../../../../assets/icons/download.svg" alt="">
                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>

            <ng-template #notaData>
                <ion-card class="card-relatorios">
                    <ion-card-content>
                        Nenhum resultado encontrado.
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </div>


    </div>
        </ion-col>
  </ion-row>
</ion-content>

<app-menu></app-menu>