<ion-content scroll-y="true">
    <app-header title="Financeiro"></app-header>

    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
        <ion-segment-button value="cadastro">Cadastro</ion-segment-button>
        <ion-segment-button value="relatorios">Relatórios</ion-segment-button>
    </ion-segment>

    <div class="container-principal">
        <ng-container *ngIf="selectedSegment === 'cadastro'">
            <ion-card class="card-cadastro">
                <ion-card-header class="card-header-cadastro">
                    <ion-card-title class="title-card">Registro Financeiro</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <form [formGroup]="cadastrarFinancerioForm" (ngSubmit)="onSubmit()">

                        <div style="align-items: center; flex-direction: row;">
                            <ion-label>Data Inicial</ion-label>
                            <ion-datetime-button datetime="datetime" preferWheel="false"
                                (click)="currentField='data_inicial'"></ion-datetime-button>
                        </div>

                        <div style="align-items: center; flex-direction: row;">
                            <ion-label>Data Final</ion-label>
                            <ion-datetime-button datetime="date" preferWheel="false"
                                (click)="currentField='data_final'"></ion-datetime-button>
                        </div>

                        <ion-modal [keepContentsMounted]="true">
                            <ng-template>
                                <ion-datetime id="datetime" (ionChange)="onDateChange($event)"
                                    displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY"
                                    showDefaultTimeLabel="false">
                                </ion-datetime>
                            </ng-template>
                        </ion-modal>

                        <ion-modal [keepContentsMounted]="true">
                            <ng-template>
                                <ion-datetime id="date" (ionChange)="onDateChange($event)" displayFormat="MMM DD, YYYY"
                                    pickerFormat="MMM DD, YYYY" showDefaultTimeLabel="false">
                                </ion-datetime>
                            </ng-template>
                        </ion-modal>


                        <ion-modal [keepContentsMounted]="true">
                            <ng-template>
                                <ion-datetime (ionChange)="onDateChange($event)" displayFormat="MMM DD, YYYY"
                                    pickerFormat="MMM DD, YYYY" showDefaultTimeLabel="false">
                                </ion-datetime>
                            </ng-template>
                        </ion-modal>

                        <div>
                            <ion-label>Transporte</ion-label>
                            <ion-select formControlName="transporte" required>
                                <ion-select-option value="carro">Carro</ion-select-option>
                                <ion-select-option value="moto">Moto</ion-select-option>
                                <ion-select-option value="bicicleta">Bicicleta</ion-select-option>
                                <ion-select-option value="onibus">Ônibus</ion-select-option>
                            </ion-select>
                        </div>

                        <div>
                            <ion-input placeholder="Combustível" formControlName="combustivel" type="text"
                                required></ion-input>
                        </div>

                        <div>
                            <ion-input placeholder="Embarcação" formControlName="embarcacao" type="text"
                                required></ion-input>
                        </div>

                        <div>
                            <ion-input placeholder="Material" formControlName="material" type="text"
                                required></ion-input>
                        </div>

                        <div>
                            <ion-input placeholder="Energia (kw)" formControlName="energia" type="text" required
                                (ionBlur)="formatEnergy()"></ion-input>
                        </div>

                        <br>
                        <ion-button [disabled]="cadastrarFinancerioForm.invalid" class="btn-primario" type="submit">Enviar</ion-button>
                    </form>
                </ion-card-content>
            </ion-card>
        </ng-container>
   
   
   
        <div *ngIf="selectedSegment === 'relatorios'">
            <ion-card class="card-relatorios">
                <ion-card-header>
                    <ion-card-title class="title-card">Relatórios Financeiros</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item (click)="toggleFiltro()" lines="none">
                        <ion-label>Filtros</ion-label>
                        <ion-icon slot="end" [name]="filtroExpansao ? 'chevron-up' : 'chevron-down'"></ion-icon>
                    </ion-item>
                    <div *ngIf="filtroExpansao" class="ion-padding">
                        <ion-label>Filtro</ion-label>
                        <ion-select [(ngModel)]="filtroCondicao">
                            <ion-select-option value="todos">Todos</ion-select-option>
                            <ion-select-option select="maior">Maior que</ion-select-option>
                            <ion-select-option value="menor">Menor que</ion-select-option>
                            <ion-select-option value="igual">Igual a</ion-select-option>
                            <ion-select-option value="entre">Entre</ion-select-option>
                        </ion-select>
                        <div *ngIf="filtroCondicao !== 'entre'">
                            <ion-label>Data</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="filtroData"></ion-datetime>
                        </div>
                        <div *ngIf="filtroCondicao === 'entre'">
                            <ion-label>Data Inicial</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="filtroDataInicial"></ion-datetime>
                            <ion-label>Data Final</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="filtroDataFinal"></ion-datetime>
                        </div>
                        <ion-button expand="full" class="'btn-primario" (click)="filtrarRegistros(); toggleFiltro();">Filtrar</ion-button>
                    </div>
                    <p>Aqui você pode visualizar os relatórios financeiros.</p>
                </ion-card-content>
            </ion-card>
        
            <ion-card class="card-relatorios" *ngFor="let registro of registrosFinanceirosFiltrados">
                <ion-card-content>
                    <div class="card-row">
                        <p>Dt Inicial: {{ registro.data_inicial }}</p>
                        <img (click)="baixarPdf(registro.id)" src="../../../../assets/icons/download.svg" alt="">
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        

    </div>
</ion-content>

<app-menu></app-menu>