<ion-content style="--background: var(--background-principal);">
  <div class="container">
     <div class="div-logo">
          <img class="logo" src="./../../../assets/logo_modified_corrected-removebg-preview.png" alt="">
          <img class="nome-logo" src="./../../../assets/coopdelta.png" alt="">
        </div>
    <h1 class="title">Sobre Nós</h1>
    <section class="content">
      <h2 class="subtitle">O BAITES</h2>
      <p>
        O <strong>BAITES</strong> é um núcleo multidisciplinar da Universidade Federal do Maranhão que desenvolve
        soluções inovadoras com inteligência artificial para setores como bioeconomia, saúde digital e educação 4.0.
        Comprometido com ética, excelência e sustentabilidade, desenvolvemos tecnologias que promovem impactos positivos
        nas empresas e na sociedade, impulsionando o crescimento econômico e a preservação ambiental.
      </p>
      <p>
        Nossa missão é liderar o futuro, oferecendo consultorias e produtos que empoderam nossos clientes, desde
        instituições públicas até empreendedores locais, colaborando para um mercado mais eficiente e sustentável.
      </p>
    </section>

    <section class="content">
      <h2 class="subtitle">Projeto: Inovação e Capacitação da Cadeia do Caranguejo</h2>
      <p>
        O projeto tem como objetivo transformar a realidade dos extrativistas de caranguejo por meio de ações integradas
        que aliam tecnologia, capacitação e sustentabilidade. A proposta visa fortalecer a cadeia produtiva do
        caranguejo-uçá, impulsionando as atividades da cooperativa de catadores localizada em Carnaubeira (Araioses-MA).
      </p>
      <p>
        Além de melhorar a renda e a qualidade de vida dos pescadores, o projeto busca valorizar os saberes tradicionais,
        promover a conservação dos manguezais e fomentar a sustentabilidade ambiental e econômica na região. Ao integrar
        comunidade, academia e setor produtivo, contribuímos para a construção de um futuro mais justo, sustentável e
        próspero para Araioses e seus moradores.
      </p>

      
    </section>
    
  </div>
  <div class="link-rodape" style="position: relative;">
    <a href="/login">Acessar sua conta</a>
  </div>

</ion-content>

