@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

:root {
    --background-principal: #F8F8F8;
    --btn-principal: #597492;
    --btn-secundario: #6A7077;
    --fonte-titulo:     #597492
  }

  ion-button{
    --border-radius: 100px;
    width: 100%;
    font-weight: bold;
    height: 50px;
  }
  
/* src/global.scss */


.btn-secundario {
  --background: var(--btn-secundario);
  --background-activated: var(--btn-secundario);
  --background-focused: var(--btn-secundario);
  --background-hover: var(--btn-secundario);
  --box-shadow: none;
  border-radius: 100px;
  transition: transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
}

.btn-secundario:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.btn-secundario:hover {
  --background: var(--btn-secundario);
  --background-activated: var(--btn-secundario);
  --background-focused: var(--btn-secundario);
  --background-hover: var(--btn-secundario);
}


.btn-primario {
  --background: var(--btn-principal);
  --background-activated: var(--btn-principal);
  --background-focused: var(--btn-principal);
  --background-hover: var(--btn-principal);
  --box-shadow: none;
  border-radius: 100px; 
  transition: transform 0.1s ease, box-shadow 0.1s ease, border-radius 0.1s ease;
}

.btn-primario:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px; 
}

.btn-primario:hover {
  --background: var(--btn-principal);
  --background-activated: var(--btn-principal);
  --background-focused: var(--btn-principal);
  --background-hover: var(--btn-principal);
}

.toast-erro{
  color: red !important; 
}

